img{
    width:200px;
    height: 250px;
}
.plateau{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.messagefin{
    
        font-size: 200%;
        margin-top: 3%;
        text-align: center;
        color: red;
        font-weight: bolder;
      
}